<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">
          This site is provided to help people who do not have much ram. We wanted to help people who are being charged loads of money by companies who have the monopoly on the ram supply.
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Download</h5>
        <ul>
          <li><a class="white-text" href="/download.html">2GB</a></li>
          <li><a class="white-text" href="/download.html">4GB</a></li>
          <li><a class="white-text" href="/download.html">8GB</a></li>
          <li><a class="white-text" href="/download.html">16GB</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="orange-text text-lighten-3" href="http://adgwry.com">Max Campbell</a>
    </div>
  </div>
</footer>
