<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include partials/head %>
    <title><%= appData.titleBase%>: Home</title>  </head>
  <body>
    <% include partials/header %>
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text">Downloaded</h1>
        <div class="row center">
          <h5 class="header col s12 light">Your RAM has been successfully upgraded</h5>
          <p>click <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">here for more info</p>
        </div>
        <div class="row center">
          <a href="/" id="download-button" class="btn-large waves-effect waves-light orange">Return home</a>
        </div>
      </div>
    </div>
    <% include partials/footer %>
  </body>
</html>
